@media screen and (max-width: 767px) {
	.col-xs-1{ float: left;	width: 8.333333%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-2{ float: left;	width: 16.666666%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-3{ float: left;	width: 25%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-4{ float: left;	width: 33.333333%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-5{ float: left;	width: 41.666666%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-6{ float: left;	width: 50%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-7{ float: left;	width: 58.333333%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-8{ float: left;	width: 66.666666%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-9{ float: left;	width: 75%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-10{ float: left; width: 83.333333%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-11{ float: left; width: 91.666666%; box-sizing: border-box; padding: 0 10px; }
	.col-xs-12{ float: left; width: 100%; box-sizing: border-box; padding: 0 10px; }

    .col-xs-offset-1{margin-left: 8.333333%;}
    .col-xs-offset-2{margin-left: 16.666666%;}
    .col-xs-offset-3{margin-left: 25%;}
    .col-xs-offset-4{margin-left: 33.333333%;}
    .col-xs-offset-5{margin-left: 41.666666%;}
    .col-xs-offset-6{margin-left: 50%;}
    .col-xs-offset-7{margin-left: 58.333333%;}
    .col-xs-offset-8{margin-left: 66.666666%;}
    .col-xs-offset-9{margin-left: 75%;}
    .col-xs-offset-10{ margin-left: 83.333333%;}
    .col-xs-offset-11{ margin-left: 91.666666%;}
    .col-xs-offset-12{ margin-left: 100%;}


		h1 {
		padding-top: 0px;
	}
 	.rwd-logo {
        display: block;
        width: 80px;
        height: 80px;
        margin: auto;
        margin-top: 30px;
    }
    .header, .min-pictures {
    	display: none;
    }
	.product .buy-detail {
		background-color: #dddddd;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}
	.product .buy-detail .other-color {
		margin: 10px 0px;
	}
	.product .buy-detail .other-color .item{
		border: 1px solid #ccc;
		padding-bottom: 20%;
		height: 0px;
	}
	.other-products {
		padding-top: 50px;
	}
	.other-products .items {
		padding-left: 50px;
    	padding-right: 50px;
	}
	.other-products .item:last-child {
    	margin-bottom: 70px;
	}
	.other-products .content .item:nth-child(4) {
		display: block;
	}
	.other-products .content .items .item .product-content {
    	height: auto;
	}

	.other-products .content .items .item .pic {
	    transform: skewX(19deg);
	    top: 15px;
	    width: 90%;
	    height: 140px;
	    position: absolute;
	}

	.other-products .content .items .item .pic img {
	    top: -42px;
	    right: -16px;
		position: absolute;
	}

	.other-products .content .items .item .txt {
	    width: 90%;
	    bottom: 10px;
	    background-color: rgba(184, 186, 185,0.6);
	    transform: skewX(0deg);
	}
	.other-products .content .items .item .txt p {
	    transform: skew(19deg);
	}
	.rwd-header {
        display: block;
        position: fixed;
        bottom: 0;
        padding: 0;
        z-index: 10;
    }
    .rwd-header .logo {
        position: absolute;
        left: 0;
        right: 0;
        top: -30%;
        margin: auto;
        width: 10%;
        border-radius: 50px;
        border: 2px solid #ccc;
        z-index: 1;
    }
    .rwd-header .logo img {
        width: 100%;
    }
    .rwd-header .menu-group {
        padding: 0;
    }
    .rwd-header .menu-group a {
        display: block;
        left: 0;
        right: 0;
        padding-top: 10%;
        margin: auto;
        padding-bottom: 13%;
        position: absolute;
        font-size: 14px;
    }
    .rwd-header .menu-group i {
        font-size: 20px;
    }
    .rwd-header .menu-group p {
        text-align: center;
        font-size: 12px;
    }
    .rwd-header .menu-group .item {
        padding-bottom: 13%;
        background-color: #ccc;
        position: relative;
    }
    .product-detail .content {
     	padding-left: 0;
    	padding-right: 0;   	
    }
    .product-detail .item {
    	padding-left: 0;
    	padding-right: 0;
    }
}